<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <meta name="description" content="Personal website for James Stronz">
  <meta name="google-site-verification" content="SshUSqsr3fEas2hd24QO3VVTcCRkyyiiBKnwlQU0chY">
  <title>James Stronz - Version 2019</title>
  <link rel="icon" type="image/png" href="/static/images/ico.png?v=2">
{% for css in css_files %}
  {% block css_files %}
  <link href="{{ css }}" rel="stylesheet" type="text/css">
  {% end %}
{% end %}
{% for partial in partials %}
  {% block partial %}
  <link rel="prefetch" href="{{ partial }}">
  {% end %}
{% end %}
</head>
<body ng-app="personalwebsite" class="jsonly" onload="pageRefresh();">
  <div data-role="header" data-posistion="fixed" data-id="constantNav">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div id="navbar-main" class="container">
        <div class="navbar-header">
          <a class="directoryToggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" 
             aria-controls="navbar">menu</a><a id="home" class="navbar-brand">stro.nz</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav main-tabs">
            <li id="about-me">
              <a>about-me</a>
            </li>
            <li id="portfolio">
              <a>portfolio</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div id="main-content"  class="container">
      <div ng-controller="home" ng-show="visible" ng-cloak>home
      </div>
      <div ng-controller="about-me" ng-show="visible" ng-cloak>
      </div>
      <div ng-controller="portfolio" ng-show="visible" ng-cloak>
      </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
{% for js in js_files %}
  {% block js %}
  <script src="{{ js }}"></script>
  {% end %}
{% end %}
</body>
</html>
