<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content=
  "width=device-width, initial-scale=1.0, user-scalable=yes">
  <title>Stronz</title>
  <link rel="icon" type="image/png" href="/static/images/ico.png">
  <link href="/static/css/bootstrap.css?v=0.5" rel="stylesheet">
  <link href="/static/css/normalize.css?v=0.4" rel="stylesheet">
  <link href="/static/css/sitemapstyler.css?v=0.5" rel="stylesheet" type="text/css" media="screen">
  <link rel="prefetch" href="/static/home/index.html">
  <link rel="prefetch" href="/static/blog/index.html">
  <link rel="prefetch" href="/static/portfolio/index.html">
  <link rel="prefetch" href="/static/contact/index.html">
  <link rel="prefetch" href="/static/js/noise.js">
  <link rel="prefetch" href="/static/js/sitemapstyler.js?v=1.0">
</head>
<body class="jsonly" onload="pageRefresh();">
  <div data-role="header" data-posistion="fixed" data-id=
  "constantNav">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div id="navbar-main" class="container">
        <div class="navbar-header">
          <a class="directoryToggle collapsed" data-toggle=
          "collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">menu</a><a id="home" class=
          "navbar-brand">stro.nz</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav main-tabs">
            <li id="contact">
              <a>contact</a>
            </li>
            <li id="portfolio">
              <a>portfolio</a>
            </li>
            <li id="blog">
              <a>blog</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div id="main-content" class="container">
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="/static/js/generate.js?v=0.5"></script>
  <!--<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70024441-1', 'auto');
  ga('send', 'pageview');
  </script>-->
</body>
</html>
