<div id="portfolio-content">
  <div id="portfolio-content-div0" class=
  "navbar navbar-inverse navbar-static">
    <div class="navbar-collapse pull-left">
      <div class="nav navbar-nav">
        <ul id="dtStyler" class="dtStyler">
          <li>
            <a id="setter">bash</a>
            <ul>
              <li>
                <a id="9cb630b58e0f7649b8d9b888d00acd2f"class="portfolio-content">iptables.sh</a>
              </li>
              <li>
                <a id="4db1c906432dab121078114c44ef3fdb" class="portfolio-content">mint.sh</a>
              </li>
            </ul>
          </li>
          <li>
            <a>c++</a>
            <ul>
              <li>
                <a id="ac41ceffe2379a796fc585a1c7e1b342" class="portfolio-content">reverseVowels.cc</a>
              </li>
              <li>
                <a>windows</a>
                <ul>
                  <li>
                    <a id="ae14ea25526bef426b4845edc1c249d6" class="portfolio-content">threads.cc</a>
                  </li>
                  <li>
                    <a id="5349f8f96aaccfcb8a2f2489cd56bb4a" class="portfolio-content">audience.cc</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a>java</a>
            <ul>
              <li>
                <a id="41d9d4947a66242c7a27de2cdf707a3a" class="portfolio-content">CardDeck.java</a>
              </li>
            </ul>
          </li>
          <li>
            <a>javaScript</a>
            <ul>
              <li>
                <a id="95d95ea60dfc8cdaf0866b14422455be" class="portfolio-content">dtStyler.js</a>
              </li>
            </ul>
          </li>
          <li>
            <a>lua</a>
            <ul>
              <li>
                <a id="9723a1d6a5dec126bb5f757effa404cc" class="portfolio-content">widgets.lua</a>
              </li>
            </ul>
          </li>
          <li>
            <a>python</a>
            <ul>
                  <li>
                    <a id="6630ff5082f4bc73d31548c0546d9e01" class="portfolio-content">chimneysweep.py</a>
                  </li>
                  <li>
                    <a id="74308bdff30eb48fb3feaa22bf9ac7b2" class="portfolio-content">ipynb.py</a>
                  </li>
                  <li>
                    <a id="7f27ecf5b91a6c0e78b6da7d5b33717c" class="portfolio-content">log.py</a>
                  </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div id="codetainer">
      <pre id="code" class="unselectable">
</pre>
    </div>
  </div>
</div>
